/*
  Styles for the EmailListItem component
*/

.email {
  height: 50px;

  display: flex;
  align-items: center;

  border-top: 1px solid rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

.email-mobile {
  display: none;
}

.icon-wrapper {
  flex-shrink: 0;
}

.email-text {
  display: flex;
}

.read {
  background-color: rgba(200, 200, 200, 0.7);
}

.unread {
  background-color: #faf9f4;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
}

.checked {
  background-color: #424242;
}

.email:hover {
  border-bottom: 2px solid #727272;
  border-top: 1px solid #727272;
}

.email:hover .star-inactive {
  fill: #c1c1c1;
}

.email:hover .checkbox {
  border: 2px solid #c1c1c1;
}

.email-sender {
  width: 200px;
  margin: 0 10px;
}

.email-subject {
  margin-right: 10px;
}

.email-excerpt {
  max-height: 100%;
  min-width: 0;

  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;

  color: #696969;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-date {
  margin: 0 20px;
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 960px) {
  .email-mobile {
    display: flex;
    height: 100px;
  }
  
  .email-details-mobile {
    width: 100%;
    margin-right: 10px;
  }

  .email-sender {
    width: auto;
    font-size: 12px;
  }

  .email-date {
    width: auto;
    font-size: 12px;
  }


  .mobile-sender-container {
    display: flex;
    justify-content: space-between;
  }

  .mobile-email-snippet {
    width: 90%;
    margin-left: 10px;
  }
}